.subscription {
  background: linear-gradient(135deg, #ff4e50 0%, #fc913a 100%);
  padding: 3rem 0;

  .subscription__box {
    background-color: $bck_white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;

    &--title {
      margin-bottom: 1.5rem;
    }

    &--text {
      margin-bottom: 1.5rem;

      a {
        font-weight: bold;
        text-decoration: none;
        color: $txt_minBlack;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    &--msgs {
      display: flex;
      margin-bottom: 1.5rem;

      &--err {
        padding: 15px;
        border-radius: 10px;
        background-color: #f8d7da;
        color: #721c24;
      }
      &--scss {
        padding: 15px;
        border-radius: 10px;
        background-color: #c3fabe;
        color: #2a6817;
      }
    }

    &--inputs {
      display: flex;
      gap: 1rem;
      overflow: hidden;

      @media screen and (max-width: 400px) {
        flex-direction: column;
        width: 100%;
      }

      &--input {
        padding: 1rem 1.2rem 1rem 1rem;
        border: 1px solid $bck_grey-dark;
        border-radius: 5px;
        background-color: $bck_grey;
        outline: none;
      }

      &--submit {
        padding: 1rem;
        background-color: #ff373a;
        color: $txt_white;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: #bb0306;
        }
      }
    }
  }
}
