.connect {
  padding: 9rem 0;

  @media screen and (max-width: 575px) {
    padding: 3rem 0;
  }
}

.connect-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__top {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 1100px) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 1.2rem;
      color: $txt-black;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0 0;
    flex-wrap: wrap;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

    &--side1 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 30%;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      &--email,
      &--phone,
      &--company {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        background-color: rgba(184, 184, 184, 0.356);
        border-radius: 5px;
        gap: 1.2rem;

        &--logo {
          font-size: 2.8rem;
          color: $txt-black;
          width: 50px;
        }

        a {
          text-decoration: none;
          color: black;
        }
        &--button--days {
          padding-bottom: 1rem;
        }
      }
      p {
        color: black;
        font-size: 1rem;
      }
    }
    &--side2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 1rem;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      &--form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: 700;
        font-size: 1.2rem;

        label {
          padding: 0 1.5rem;
        }

        input,
        textarea {
          padding: 1rem 1.5rem;
          font-size: 1rem;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.384);
          font-family: $text-font;
        }

        textarea::placeholder {
          font-family: $text-font;
        }
        &--box {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      button {
        padding: 1.5rem 2rem;
        border: none;
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;
        background: $txt_black;
        color: $txt_white;
        transition: all 0.2s ease-in-out;
        margin-top: 10px;

        &:hover {
          color: $txt_black;
          background: rgb(197, 197, 197);
          cursor: pointer;
        }
      }
    }
  }
}

.form-message {
  &--ok {
    display: flex;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 15px 15px;
    color: #229100;
  }
  &--error {
    display: flex;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0 0 15px 22px;
    color: #db0318;
  }
}
