@import "./reset";
@import "./fonts";
@import "./backgrounds";

//Components
@import "../Components/Navbar/Styles/navbar";
@import "../Components/Hero/Styles/hero";
@import "../Components/WhyUs/Styles/why-us";
@import "../Components/Subscription/Styles/subscription";
@import "../Components/GroupTrainings/Styles/group-trainings";
@import "../Components/Locations/Styles/locations";
@import "../Components/Carousel/Styles/carousel";
@import "../Components/Maps/Styles/maps";
@import "../Components/Footer/Styles/footer";
@import "../Components/Comparison/Styles/comparison";
@import "../Components/LetsConnect/Styles/lets-connect";
@import "../Components/Faq/Styles/faq";
@import "../Components/Career/Styles/career-content";
@import "../Components/Coaches/Styles/coaches-list";
@import "../Components/TrialHero/Styles/trial-hero";
@import "../Components/WhatCanDo/Styles/what-can-do";
@import "../Components/AllGyms/Styles/all-gyms";
@import "../Components/NewsContent/Styles/news-content";
@import "../Components/NewsContent/Styles/-news-box.scss";
@import "../Components/TrainingsContent/Styles/trainings-content";

//Global
html {
  scrollbar-color: #fe7045 #999999;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background: #999999;
}
html::-webkit-scrollbar-thumb {
  background-color: #fe7045;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #d15c34;
}
body {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  background-color: $bck_white;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 12.5rem;

  @media screen and (max-width: 1285px) {
    padding: 0 1.5rem;
  }
}
.container-hero {
  margin: 0 auto;
  padding: 0 12.5rem;

  @media screen and (max-width: 1285px) {
    padding: 0;
  }
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: $title-font;
  color: $txt_black;
}
p {
  font-size: 1rem;
  font-family: $text-font;
  color: $txt_grey;
}
.background {
  background-color: $bck_white;
  color: $txt_black;
  padding: 5px 20px;
}
.background-v1 {
  background-color: $bck_white;
  color: $txt_black;
  padding: 5px 10px;
}
.strong {
  font-weight: 700;
  font-size: 1.2rem;
}
