@import "./reset";
@import "./fonts";

//Components
@import "../Components/Navbar/Styles/navbar";
@import "../Components/Hero/Styles/hero";
@import "../Components/WhyUs/Styles/why-us";
@import "../Components/Subscription/Styles/subscription";
@import "../Components/GroupTrainings/Styles/group-trainings";
@import "../Components/Locations/Styles/locations";
@import "../Components/Carousel/Styles/carousel";
@import "../Components/Maps/Styles/maps";
@import "../Components/Footer/Styles/footer";
@import "../Components/Comparison/Styles/comparison";

//Global
body {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  background-color: #fff;
}
.container {
  margin: 0 auto;
  padding: 0 12.5rem;

  @media screen and (max-width: 1285px) {
    padding: 0 1.5rem;
  }
}
.container-hero {
  margin: 0 auto;
  padding: 0 12.5rem;

  @media screen and (max-width: 1285px) {
    padding: 0;
  }
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: $title-font;
  color: rgb(37, 37, 37);
}
p {
  font-size: 1rem;
  font-family: $text-font;
  color: #a8a8a8;
}
.background {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 20px;
}
