.locations {
  background: linear-gradient(135deg, #ff4e50 0%, #fc913a 100%);
}
.location-box {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__side1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--text {
      color: white;
    }

    &--buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      button {
        padding: 10px 35px;
        font-size: 1.1rem;
        font-weight: 500;
      }

      &--explore {
        background: black;
        color: white;
        transition: all 0.2s ease-in-out;
        border: none;

        &:hover {
          color: black;
          background: white;
        }
      }
      &--join {
        background: rgba(0, 0, 0, 0);
        border: 1px solid #11111169;
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: black;
          background-color: white;
          border: 1px solid #ffffff69;
        }
      }
    }
  }
}
