.faq {
  position: relative;
  padding: 3rem 0;
}
.faq-box {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
    width: 100%;

    @media screen and (max-width: 1490px) {
      flex-direction: column;
      width: 100%;
    }

    h2 {
      flex: 1;
      margin: 0;
      font-size: 3rem;
    }
    p {
      flex: 1;
      margin: 0;
      font-size: 1.25rem;
      color: $txt_black;
    }
    span {
      a {
        text-decoration: none;
        color: $txt_black;
        font-weight: 700;
      }
    }
  }
  &__question-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    &--question {
      width: 100%;
      button {
        width: 100%;
        cursor: pointer;
        border: none;
        padding: 20px 50px 20px 20px;
        color: $txt_black;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        background-color: inherit;
        border-bottom: 1px solid #ccc;
      }
    }
    &--answer {
      padding: 20px;
      font-size: 16px;
      color: $txt_black;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
