.footer {
  padding: 1.5rem 0;
  position: relative;
  background: radial-gradient(circle at top right, #242424, #303030);
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  &__logos {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media screen and (max-width: 375px) {
      flex-direction: column;
    }

    &--img {
      width: 150px;
      height: 50px;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;

    @media screen and (max-width: 455px) {
      justify-content: center;
      gap: 1rem;
    }

    &--1col {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      width: 180px;

      @media screen and (max-width: 455px) {
        width: 140px;
      }

      ul {
        list-style-type: none;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          a {
            color: rgb(119, 119, 119);
            text-decoration: none;
            transition: 0.2s ease-in;
          }
          a:hover {
            color: rgb(170, 170, 170);
            text-decoration: none;
          }
        }
      }
      &--title {
        font-size: 1.1rem;
        margin: 1rem 0;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  &__bottom {
    border-top: 1px solid rgb(223, 223, 223);
    padding: 1rem 0;
    width: 100%;

    &--1row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        color: rgb(119, 119, 119);
        text-decoration: none;
        transition: 0.2s ease-in;
      }
      a:hover {
        color: rgb(170, 170, 170);
        text-decoration: none;
      }
    }
  }
}
