.group-trainings {
  padding: 1.5rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__slider {
    animation: slide-loop 40s linear infinite;
    display: flex;
    width: calc(400px * 1);
    gap: 1rem;

    &--element {
      position: relative;
      height: 300px;
      width: 400px;

      &:hover {
        box-shadow: 2px 2px 2px black;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a {
        color: white;
        text-transform: uppercase;
      }
      &--text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.363);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  h3 {
    color: white;
  }

  @keyframes slide-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-400px * 7.5));
    }
  }
}
