.comparison {
  padding: 7rem 0 0 0;
  background: linear-gradient(135deg, #ff4e50 0%, #fc913a 100%);
  overflow: hidden;

  @media screen and (max-width: 575px) {
    padding: 3rem 0 0 0;
  }

  .comparison-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__top {
      h1 {
        font-size: 4.5rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 3rem 0;
        color: $txt_white;

        @media screen and (max-width: 1100px) {
          font-size: 3rem;
        }
      }

      &--selection {
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        color: $txt_white;

        select {
          padding: 0.5rem 0 0.5rem 0.5rem;
          font-size: 1rem;
          text-transform: uppercase;
          border: 1px solid rgba(0, 0, 0, 0.447);
          outline: none;
          border-radius: 5px;

          @media screen and (max-width: 1100px) {
            padding: 0.2rem 0 0.2rem 0.25rem;
            font-size: 0.8rem;
          }
        }
      }

      &--display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding-bottom: 5rem;
        margin-top: 1rem;
        background: white;

        h2 {
          font-size: 3rem;
          color: $txt_black;
          padding: 2rem 0 0 0;

          @media screen and (max-width: 1100px) {
            font-size: 2rem;
          }
        }
        p {
          padding: 0 0 3rem 0;
          font-size: 1.2rem;
        }

        &--plans {
          display: flex;
          flex-direction: row;
          gap: 3rem;
          flex-wrap: wrap;
          margin: 0 2rem;

          &--plan {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: $bck_grey;
            border-radius: 5px;
            border: 1px solid $bck_grey-dark;
            padding: 1rem;
            width: 340px;

            @media screen and (max-width: 1100px) {
              width: 250px;
            }

            h3 {
              font-size: 2.5rem;
              color: $txt_minBlack;
              text-transform: uppercase;

              @media screen and (max-width: 1100px) {
                font-size: 2rem;
              }
            }

            p {
              color: $txt_minBlack;
              font-size: 3.3rem;
              display: flex;
              flex-direction: row;
              padding: 0 0 1rem 0;

              @media screen and (max-width: 1100px) {
                font-size: 2.8rem;
              }

              span {
                padding-top: 10px;
                font-size: 1.5rem;
              }
            }

            ul {
              list-style: none;
              padding: 2rem 0;
              display: flex;
              flex-direction: column;
              gap: 0.6rem;
              border-top: 1px solid rgba(128, 128, 128, 0.349);

              li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.75rem;
                font-size: 1.25rem;

                @media screen and (max-width: 1100px) {
                  font-size: 1rem;
                }

                img {
                  width: 22px;
                  height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}
