.hero {
  background: linear-gradient(135deg, #ff4e50 0%, #fc913a 100%);
  display: flex;
  align-items: center;
  padding: 7rem 0 5rem 0;

  @media screen and (max-width: 575px) {
    padding: 0 0 5rem 0;
  }

  .hero-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: pop-in 0.5s ease-in-out;
    padding: 0 2rem;

    &__side1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-right: 2rem;
      flex: 1;
      flex-basis: 50%;

      &--title {
        text-transform: uppercase;
        font-size: 3.75rem;
        margin-bottom: 1.5rem;
        inline-size: 100%;
        color: $txt_white;

        @media screen and (max-width: 560px) {
          font-size: 2.2rem;
        }
      }

      &--text {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        color: $txt_white;
      }

      &--loadbar {
        width: 30px;
        height: 30px;

        &--circle {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.34);
          background: conic-gradient(
            rgb(102, 102, 102) 0deg,
            rgba(150, 150, 150, 0.596) 0deg
          );

          &--inner {
            border-radius: 50%;
            width: 60%;
            height: 60%;
            background: linear-gradient(135deg, #ff4e50 0%, #fc913a 100%);
            box-shadow: inset 0px 0px 2px -1px rgba(0, 0, 0, 0.34);
          }
        }
      }

      @media screen and (max-width: 990px) {
        padding: 0;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-top: 1.5rem;
      }
    }

    &__side2 {
      display: flex;
      justify-content: center;
      flex-basis: 50%;
      max-width: 50%;
      height: 500px;

      img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.425);
        object-fit: cover;
        background-position: center;
      }
    }

    @media screen and (max-width: 990px) {
      flex-direction: column-reverse;

      &__side2 {
        max-width: 100%;
        height: auto;

        img {
          width: 100%;
          max-width: none;
          height: auto;
        }
      }

      & {
        padding: 0;
      }
    }
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
